<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Interface de commande en ligne</title>
</head>
<body class="bg-dark">
    <div id="app">
        <div class="container">
            <div class="row">
                <div class="jumbotron col-md-6 shadow-lg">
                    Login : <input class="bg-secondary text-white rounded" type="text" v-model="user"/><br/><br/>
                    Vous êtes connecté en tant que {{ user }}
                </div>
            </div>
            <h1 v-bind:class="affichage">Produits disponibles </h1>
            <div class="row">
                <div class="col-3 shadow-lg" v-for="item in produits">
                    <p class="jumbotron text-center bg-secondary border border-primary shadow-lg">
                        <span class="h3 text-white font-weight-bold"> {{ item }}</span><br><br>
                        <button @click="commander(item, date)" class="text-white btn btn-success btn-lg">Commander</button>
                    </p>
                </div>
            </div>
            <hr>
            <h1 class="display-4 text-white" v-if="commandes.length > 0">Produits commandés</h1>
            <div class="row">
                <div class="col-6">
                    <div class="jumbotron bg-secondary" v-if="commandes.length > 0">
                        <ul>
                            <li class="text-white" v-for="commande in commandes">{{ commande }} - <span class="text-info" v-for="dateCommande in dateCommandes"> {{ dateCommande }} </span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        Vue.component('fiche-produit')
        let app = new Vue({
            el: '#app',
            data: {
                user: 'Mike',
                produits: ["Pizza", "Tacos", "Doner kebab", "Couscous"],
                commandes: [],
                dateCommandes: [],
                affichage: 'display-4 text-white'
            },
            methods: {
                commander: function(item, date) {
                    this.commandes.push(item);
                    console.log(app.commandes);
                    date = new Date();
                    dateDelivered = date.toLocaleTimeString();
                    console.log(dateDelivered);
                    this.dateCommandes.push(dateDelivered);
                    console.log(app.dateCommandes)
                }
            }

        })
    </script>
    
</body>
</html>