<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Interface de commande en ligne</title>
</head>
<body class="bg-dark">
    <div id="app">
        <div class="container">

            <div class="row">
                <div class="jumbotron col-md-6 shadow-lg">
                    Login : <input class="bg-secondary text-white rounded" type="text" v-model="user"/><br/><br/>
                    Vous êtes connecté en tant que {{ user }}
                </div>
            </div>

            <h1 v-bind:class="affichage">Produits disponibles </h1>

            <div class="row">
                <fiche-produit v-for="produit in produits" v-for="delivery in dateCommandes" v-bind:nom="produit" v-bind:date_courante="delivery" v-on:commande-passee="commander" v-on:date-commande="dateDeCommande"></fiche-produit>
            </div>

            <hr>

            <h1 class="display-4 text-white text-center" v-if="commandes.length > 0">Produits commandés</h1>

            <div class="row">
                <div class="col-3"></div>
                <div class="col-6">
                    <div class="jumbotron bg-secondary border border-success" v-if="commandes.length > 0">
                        <ul>
                            <li class="text-white font-weight-bold h3" v-for="commande in commandes">{{ commande }} - 
                                <span class="text-warning font-weight-light" v-for="delivery in dateCommandes"> {{ delivery }} </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script>
        Vue.component('fiche-produit', { // Création de notre composant fiche-produit
            template: `
            <div class="col-3 shadow-lg">
                <p class="jumbotron text-center bg-secondary border border-primary shadow-lg">
                    <span class="h3 text-white font-weight-bold"> {{ nom }} </span><br><br>
                    <button @click="passation_produit(nom, date_courante)" class="text-white btn btn-success btn-lg">Commander</button>
                </p>
            </div>
            `,
            props: ['nom'],
            methods: {
                passation_produit: function(produit, date_courante) { // fonction 
                    this.$emit('commande-passee', produit);
                    this.$emit('date-commande', date_courante);
                }
            }
        })

        let app = new Vue({
            el: '#app',
            data: {
                user: 'Mike',
                date_courante: new Date().toLocaleTimeString(),
                produits: ["Pizza", "Tacos", "Doner kebab", "Couscous"],
                commandes: [],
                dateCommandes: [],
                affichage: 'display-4 text-white'
            },
            methods: {
                commander: function(item) {
                    this.commandes.push(item);
                },
                dateDeCommande: function(delivery) {
                    delivery = new Date().toLocaleTimeString();
                    console.log(delivery);
                    this.dateCommandes.push(delivery);
                    console.log(app.dateCommandes);
                    delivery = '';
                }
            }
        })
    </script>
    
</body>
</html>